.nav-pills a {
    color: black;
    font-size: 2.0em;
}

.bg-navbar{
    background-color:#4b679e;
}

body {
    margin: auto;    
}

.first-page {
    color: black;
    font-size: 2.0em;
}

.second-page {
    color: black;
    font-size: 3.0em;
}

.third-page {
    color: black;
    font-size: 3.0em;
}

.portfolio-images {
    width: 100%;
}

#first-image {
    background:url("adventurecup.jpg");
    height:900px;
    background-size: cover;
    background-position:center;
}

#second-image {
    background:url("adventureboat.jpg");
    height: 900px;
    background-size: cover;
    background-position: center;
}

#third-image {
    height:900px;
    background:url("horizonpicture.jpg");
    background-position:center;
    background-size: cover;
}

.quote-border {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

.social {
    text-align: center;
}

.self-portrait {
    height: 400px;
    width: 315px;
    float: right;
    padding-right: 50px;
    padding-top: 100px;
}

.skills {
    padding-top:250px;
    padding-left: 150px;
}